node_modules
npm-debug.log*
package-lock.json

# Ignore everything in input and output
input/*
output/*

# But keep the sample folders
!input/sample/
!output/sample/

# And keep the contents of sample folders
!input/sample/**
!output/sample/**
